.artist
  .row
    .col-xs-5
      .form-group
        %label
          Artist Name
          %span.artist-number
          %span.required *
        = text_field_tag "#{category}_artist_name_1", nil, id: nil, class: 'form-control input-sm artist-name', required: true, disabled: disabled, autofocus: (true if category == 'cover')

    .col-xs-7
      .form-group
        %label
          Wiki
          %span.required *
        .input-group
          %span.input-group-addon http://en.wikipedia.org/wiki/
          = text_field_tag "#{category}_artist_wiki_1", nil, id: nil, class: 'form-control input-sm artist-wiki', required: true, disabled: disabled

      = link_to 'add artist', '#', class: 'btn btn-xs btn-info pull-right add-artist'
      = link_to 'remove', '#', class: 'small pull-right remove-artist'
